<div class="edit-user-form-wrapper" style="background-image:
      linear-gradient(rgba(255,255,255, 0),
      rgba(0, 0, 0, 0.4)),
      url(<%= cl_image_path('Default Pics/user-info-background.jpg')%>);"
  >
  <div class="logo-sessions-position">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "sessions-logo logo-sessions-move-rigth"%>
  <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="user_form_options_container">
          <h2 class="user_form_text_center user_form_font_16">Reenviar instrucciones de confirmación</h2>

          <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "REENVIAR EMAIL DE CONFIRMACIÓN", class: "btn btn-login btn-login-largo"%>
          </div>
          <% end %>
          <div class="login-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
