<ul>
  <% @bookings.each do |booking|%>
    <li>Date: <%=booking.date %></li>
    <li>Field:<%=booking.field  %></li>
    <li>splitable: <%=booking.splitable %></li>
    <li>Status:<%=booking.status  %></li>
    <li>Number of players:<%=booking.number_players  %></li>
    <li>users:<%=booking.users.uniq  %></li>
  <% end %>
</ul>
