<div class="container">
  <h1>Tu proceso de reserva ha sido exitoso</h1>
  <p>Código de reserva: ??????</p>
  <div class="row">
    <div class="col-sm-8">
      <div class="players-box">
        <div class="players-box-title">
          <div class="player-box-title-number-players">
            <h4>Jugadores</h4>
            <p> 0 de <%= @booking.number_players %> han pagado </p>
          </div>
          <div class="players-box-title-cta">
            <%= link_to "Unirse al partido", "#", class: "btn btn-primary" %>
          </div>
        </div>

        <hr color="gray" size=0.75>

        <div class="player-box-body">
          <!-- <div class="row"> -->
            <% @booking.booking_players.each do |player| %>
              <!-- <div class="col-xs-12 col-sm-6"> -->
                <div class="player-box-body-player">
                  <div class="player-box-body-player-info">
                    <div class="player-box-body-avatar">
                      <%= set_booking_avatar(player.user)  %>
                    </div>
                    <div class="player-box-body-player-name">
                      <p> <%= player.user.email %> </p>
                    </div>
                  </div>
                  <div class="player-box-body-player-payment-status">
                    <% if player.player_pay_status %>
                      <p class="player-status-pending">Pendiente</p>
                    <% else %>
                      <p class="player-status-pending">Pendiente</p>
                    <% end %>
                    <% if @booking.splitable %>
                      <p> <%= set_price_per_peson(@booking.field.price_cents, @booking.number_players)  %></p>
                    <% end %>
                  </div>
                <!-- </div> -->
              </div>
            <% end %>
            <% set_free_slots(@booking.number_players,@booking.booking_players.count).times do |unassigned_player| %>
              <!-- <div class="col-xs-12 col-sm-6"> -->
                <div class="player-box-body-player">
                  <div class="player-box-body-player-info">
                    <div class="player-box-body-avatar">
                      <%= image_tag "user.png", class: "avatar avatar-lg" %>
                    </div>
                    <div class="player-box-body-player-name">
                      <p class="player-slot-disponbile">Disponible</p>
                    </div>
                  </div>
                  <div class="player-box-body-player-payment-status">
                    <p class="player-status-pending">Pendiente</p>
                  </div>
                </div>
              <!-- </div> -->
            <% end %>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="booking-right-section">
      <div class="col-sm-4">
        <%= business_banner = business_logo_or_generic(@booking.field.business, "booking-box-business-picture")%>
          <div
            style="background-image:
              linear-gradient(rgba(0,0,0, 0.4),
              rgba(0, 0, 0, 0.4)),
              url(<% business_banner %>);"
            >
          </div>
        <div class="booking-box-info">
          <div class="booking-box-info-top">
            <div class="booking-box-info-title booking-box-info-business-name booking-box-info-text-center">
              <h2> <%= @booking.field.business.name  %> </h2>
            </div>
            <div class="booking-box-info-date-field-name booking-box-info-text-center">
              <p> <%= @booking.field.name %> </p>
            </div>
          </div>
          <hr color="gray" size=0.75>
          <div class="booking-box-info-mid">
            <div class="booking-box-info-title booking-box-info-text-center">
              <h4>Horario</h4>
            </div>
            <div class="booking-box-info-date booking-box-info-text-center">
              <p> <%= l(@booking.date.to_date, format: '%A %d de %B') %> </p>
            </div>
            <div class="booking-box-info-time booking-box-info-text-center">
              <div class="booking-box-info-hours hours-beginig">
                <h6>Hora de inicio</h6>
                <p> <%= format_hour(@booking.date.hour) %> </p>
              </div>
              <div class="booking-box-info-hours hours-end">
                <h6>Hora de fin</h6>
                <p> <%= format_hour(@booking.date.hour+1) %> </p>
              </div>
            </div>
          </div>
          <hr color="gray" size=0.75>
          <div class="booking-box-info-bottom">
            <div class="booking-box-info-title">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <h3> Sede:  <%= @booking.field.business.name %> </h3>
  <h3> Fecha de la reserva:  <%= @booking.date %> </h3>
  <h3> Referencia de la cancha: <%= @booking.field.name %> </h3>
  <h3> Cantidad de jugadores: <%= @booking.number_players %> </h3>
  <ul>
    <% @booking.users.each do |player| %>
      <li> <%= player.email %> </li>
    <% end %>
  </ul>
</div>
