<div class="container">
  <h1>Tu proceso de reserva ha sido exitoso</h1>

  <h3> Sede:  <%= @booking.field.business.name %> </h3>
  <h3> Fecha de la reserva:  <%= @booking.date %> </h3>
  <h3> Referencia de la cancha: <%= @booking.field.name %> </h3>
  <h3> Cantidad de jugadores: <%= @booking.number_players %> </h3>
  <ul>
  <% @booking.users.each do |player| %>
   <li> <%= player.email %> </li>
  <% end %>
  </ul>

</div>
