<%= link_to root_path do %>
  <%= image_tag "logo.png", class: "sessions-logo"%>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="user_form_options_container">
        <h2 class="user_form_text_center">¿Olvidaste tu contraseña?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "RESTABLECER CONTRASEÑA", class: "btn btn-login"%>
        </div>
        <% end %>
        <div class="login-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
