<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-image:
            linear-gradient(rgba(255,255,255, 0),
            rgba(0, 0, 0, 0.4)),
            url(<%= cl_image_path("Default Pics/booking-confirm.jpg") %>);">
          <button type="button" class="close" id="modal-close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Detalles de tu reserva</h4>
        </div>
        <div class="modal-body">
          <div class="modal-business-name">
                <i class="em-svg em-soccer"></i>
            <div class="modal-business-name-header">
              <h3></h3>
              <p class="modal-field-name">
              </p>
            </div>
          </div>
          <div class="modal-booking-details-container">
            <div class="modal-booking-details-item text-center">
              <div class="modal-booking-time">
                <i class="em em-date"></i>
                <div class="modal-selected-date">
                  <p></p>
                </div>
                <div class="modal-selected-time">
                  <p></p>
                </div>
              </div>
            </div>
            <div class="modal-booking-details-item text-center">
              <div class="modal-capacity">
                <i class="em em-man-man-boy-boy"></i>
                <p></p>
              </div>
            </div>
            <div class="modal-booking-details-item text-center">
              <div class="modal-business-address">
                <i class="em em-world_map"></i>
                <p></p>
              </div>
            </div>
          </div>
          <div class="modal-split">
           <p> Desea dividir la tarifa entre los jugadores?</p>
            <div class="modal-splitable">
              <div class="card-toggle">
                <label class="switch">
                  <input class="splitable" type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="modal-price">
            <p>Total a pagar</p>
            <p class="modal-price-value">
              <i class="fas fa-dollar-sign"></i>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <%= form_with model: Booking.new, local: true do |f| %>
            <%= f.hidden_field :authenticity_token%>
            <%= f.hidden_field :field_id, id: "field_id" %>
            <%= f.hidden_field :date, id: "bookingDate" %>
            <%= f.hidden_field :splitable, id: "splitable" %>
            <%= f.hidden_field :number_players, id: "number_players" %>
            <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">CANCELAR</button>
            <%= f.submit "SOLICITAR RESERVA", class: "btn btn-primary btn-confirm-modal" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
