<div class="players-box">
  <div class="players-box-title">
    <div class="player-box-title-number-players">
      <h4>Jugadores</h4>
      <p> 0 de <%= booking.number_players %> han pagado </p>
    </div>
    <div class="players-box-title-cta">
      <%= link_to "Unirse al partido", "#", class: "btn btn-primary" %>
    </div>
  </div>

  <hr color="gray" size=0.75>

  <div class="player-box-body">
    <!-- <div class="row"> -->
    <% booking.booking_players.each do |player| %>
    <!-- <div class="col-xs-12 col-sm-6"> -->
      <div class="player-box-body-player">
        <div class="player-box-body-player-info">
          <div class="player-box-body-avatar">
            <%= set_booking_avatar(player.user)  %>
          </div>
          <div class="player-box-body-player-name">
            <p> <%= player.user.email %> </p>
          </div>
        </div>
        <div class="player-box-body-player-payment-status">
          <% byebug  %>
          <% if player.player_pay_status %>
            <p class="player-status-paid">Pagado</p>
          <% else %>
            <p class="player-status-pending">Pendiente</p>
          <% end %>
          <% if booking.splitable %>
            <% price_per_person = set_price_per_person(
                        booking.field.price_cents,
                        booking.number_players
                        ) %>
            <p> $ <%= humanize_price(price_per_person)
                  %>
            </p>
          <% end %>
        </div>
      <!-- </div> -->
      </div>
    <% end %>
    <% set_free_slots(booking.number_players,booking.booking_players.count).times do |unassigned_player| %>
      <!-- <div class="col-xs-12 col-sm-6"> -->
      <div class="player-box-body-player">
        <div class="player-box-body-player-info">
          <div class="player-box-body-avatar">
            <%= image_tag "user.png", class: "avatar avatar-lg" %>
          </div>
          <div class="player-box-body-player-name">
            <p class="player-slot-disponbile">Disponible</p>
          </div>
        </div>
        <div class="player-box-body-player-payment-status">
          <p class="player-status-pending">Pendiente</p>
        </div>
      </div>
    <!-- </div> -->
    <% end %>
    <!-- </div> -->
  </div>
</div>
