<div class="booking-box-info">
  <div class="booking-box-info-top">
    <div class="booking-box-info-title booking-box-info-business-name booking-box-info-text-center">
      <h2> <%= @booking.field.business.name  %> </h2>
    </div>
    <div class="booking-box-info-subtitle booking-box-info-date-field-name booking-box-info-text-center booking-box-info-main-subtitle">
      <p> <%= @booking.field.name %> </p>
    </div>
  </div>
  <hr color="gray" size=0.75 margin = "5px 0 5px 0">
  <div class="booking-box-info-mid">
    <div class="booking-box-info-title booking-box-info-text-center">
      <h4>Horario</h4>
    </div>
    <div class="booking-box-info-subtitle booking-box-info-date booking-box-info-text-center">
      <p> <%= l(@booking.date.to_date, format: '%A %d de %B') %> </p>
    </div>
    <div class="booking-box-info-time booking-box-info-text-center">
      <div class="booking-box-info-hours hours-beginig">
        <h6>Hora de inicio</h6>
        <p> <%= format_hour(@booking.date.hour) %> </p>
      </div>
      <div class="booking-box-info-hours hours-end">
        <h6>Hora de fin</h6>
        <p> <%= format_hour(@booking.date.hour+1) %> </p>
      </div>
    </div>
  </div>
  <hr color="gray" size=0.75>
  <div class="booking-box-info-bottom">
    <div class="booking-box-info-title booking-box-info-text-center">
      <h4>Dirección</h4>
    </div>
    <div class="booking-box-info-subtitle booking-box-info-address booking-box-info-text-center">
      <p> <%= @booking.field.business.address %> </p>
    </div>
    <div class="booking-box-info-links booking-box-info-text-center">
      <div class="booking-box-info-links">
        <%= link_to "Como llegar", "#", class:"btn btn-additional-info"  %>
      </div>
      <div class="booking-box-info-links">
        <%= link_to "Ver sede", "#", class:"btn btn-additional-info"  %>
      </div>
    </div>
  </div>
</div>
