<div class="navbar-wagon <%= "navbar-transparent" if controller_name == "pages" %> <%= "navbar-none" if controller_name == "registrations" || controller_name == "sessions" %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand hidden-xs" do %>
    <%= cl_image_tag "Default Pics/defaul-logo.png", height: 50 %>
  <% end %>
    <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
    <div class="dropdown" style="cursor: pointer;">
      <i class="fa fa-bars fa-2x dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to root_path do%>
              <i class="fas fa-home"></i>
              Inicio
            <% end %>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to fields_path do%>
              <i class="fas fa-futbol"></i>
              Busca una cancha
            <% end %>
          </li>
          <li>
            <%= link_to bookings_path do %>
              <i class="far fa-address-book"></i>
              Mis reservas
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% else %>
        <li>
          <%= link_to root_path do%>
            <i class="fas fa-home"></i>
            Inicio
          <% end %>
        </li>
        <li role="separator" class="divider"></li>
          <li>
            <%= link_to fields_path do%>
              Busca una cancha
            <% end %>
          </li>
          <li>
        <li>
         <li>
          <%= link_to t(".sign_in", default: "Crea una cuenta"),
            new_user_registration_path,
            class: "navbar-wagon-item navbar-wagon-link"
          %>
        </li>
        <li>
          <%= link_to t(".sign_in", default: "Iniciar Sesion"),
            new_user_session_path,
            class: "navbar-wagon-item navbar-wagon-link"
          %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'shared/search-form-city' if controller_name == "fields" || controller_name == "bookings"  %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Mis reservas", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Canchas", fields_path, class: "navbar-wagon-item navbar-wagon-link" if controller_name != 'fields' %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.photo.blank? ? "user.png" : current_user.photo  %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Canchas", fields_path, class: "navbar-wagon-item navbar-wagon-link" if controller_name != 'fields' %>
      <%= link_to t(".sign_in", default: "Crea una cuenta"),  new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Iniciar Sesion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

