<div class="row">
  <% if controller_name == "pages" %>
    <% link_properties = {path: fields_path, remote: false} %>
  <% else %>
    <% link_properties = {path: fields_path, remote: false} %>
    <!-- cambiar a true cuando se tenga el js -->
    <!-- link_properties = {path: schedule_path, remote: true} -->
  <% end %>
    <%= form_tag link_properties[:path], method: :get, class: "field-search-form", remote: link_properties[:remote]  do %>

    <div class="col-xs-8">
      <%= text_field_tag :query,
        params[:query],
        class: "queryinput form-control",
        placeholder: "¿Donde quieres jugar?"
      %>
    </div>
    <div class="col-xs-4">
      <select name="capacity_limit" id="capacity_limit" class="queryinput form-control">
        <option value="" selected disabled hidden># jugadores</option>
        <% Field::CAPACITY_RANGE.each do |value| %>
          <option <%= "selected" if value.to_s == params[:capacity_limit] %> value="<%= value %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= text_field_tag :dates,
        params[:dates],
        class: "datepicker datesize",
        placeholder: "Canchas disponibles entre"
      %>
    </div>
    <div class="col-xs-12 col-sm-2">
      <select name="start_time" class="datesize" id="starttime">
        <option value="" <%= "selected" unless params[:start_time].present? %> disabled hidden>Entre 5PM</option>
        <% (1..23).each do |value| %>
          <option <%= "selected" if value.to_s == params[:start_time] %> value="<%= value %>"><%=format_hour(value)%></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-12 col-sm-2">
      <select name="end_time" class="datesize" id="endtime">
        <option value="" <%= "selected" unless params[:end_time].present? %> disabled hidden>Y 8PM</option>
        <% (1..23).each do |value| %>
          <option <%= "selected" if value.to_s == params[:end_time] %> value="<%= value %>"><%=format_hour(value)%></option>
        <% end %>
      </select>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= submit_tag "Buscar", name: nil, class: "btn btn-primary full-width-padded" %>
    </div>
  <% end %>
</div>

