<div class="verification-mail" style="padding: 10px; font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif">
  <h1> Nueva solicitud de reserva </h1>

  <h3>Se ha solicitado una nueva reserva</h3>
  <p>
    <strong> Información de la reserva: </strong>
  </p>

  <p>
    <strong>  Sede: </strong><%= @booking.field.business.name %>
  </p>

  <p>
    <strong>  Cancha: </strong><%= @booking.field.name %>
  </p>
  <p>
    <strong>  Dia y hora: </strong><%= @booking.date %>
  </p>
  <p>
    <strong>  Nombre del Solicitante: </strong><%= "#{@user.first_name}  #{@user.last_name}"%>
  </p>
  <p>
    <strong>  Cédula: </strong> <%= @user.identificacion %>
  </p>
  <p>
    <strong>  Teléfono: </strong> <%= @user.telefono %>
  </p>

</div>
