<div class="verification-mail" style="padding: 10px; font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif">
  <h1> Nueva solicitud de reserva </h1>

  <h2>Se ha solicitado una nueva reserva</h2>
  <h3>
    <strong> Información de la reserva: </strong>
  </h3>

  <ul>
    <li>
      <strong>  Hora de la reserva: </strong><%= ApplicationController.helpers.format_hour(@booking.date.hour)  %>
    </li>

    <li>
      <strong>  Dia de la reserva: </strong><%= l(@booking.date, format: '%A %d de %B')  %>
    </li>

    <li>
      <strong>  Booking ID: </strong><%= @booking.id %>
    </li>

    <li>
      <strong>  Fecha de la solicitud: </strong> <%= l(@booking.created_at, format: '%A %d de %B  a las %I:%M%p') %>
    </li>

    <li>
      <strong>  Sede: </strong><%= @booking.field.business.name %>
    </li>

    <li>
      <strong>  Cancha: </strong><%= @booking.field.name %>
    </li>

    <li>
      <strong>  Telefono del negocio: </strong> <%= @booking.field.business.phone %>
    </li>
  </ul>

  <h3>
    <strong> Información del solicitante: </strong>
  </h3>

  <ul>
    <li>
      <strong>  Nombre del solicitante: </strong><%= "#{@user.first_name}  #{@user.last_name}"%>
    </li>

    <li>
      <strong>  Correo del solicitante: </strong><%= @user.email %>
    </li>


    <li>
      <strong>  Cédula del solicitante: </strong> <%= @user.identificacion %>
    </li>

    <li>
      <strong>  Teléfono del solicitante: </strong> <%= @user.telefono %>
    </li>

    <li>
      <strong>  User_Id del solicitante: </strong><%= @user.id %>
    </li>
  </ul>

</div>
