
<div class="container center-div">
  <div class="row">
    <%= form_tag fields_path, method: :get, class: "boat-search-form"  do %>
      <div class="col-xs-12">
        <%= text_field_tag :query,
          params[:query],
          class: "queryinput form-control",
          placeholder: "¿Donde quieres jugar?"
        %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :dates,
          params[:dates],
          class: "datepicker datesize",
          placeholder: "Buscar disponibilidad entre:"
        %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= text_field_tag :time,
          params[:time],
          class: "timepicker datesize",
          placeholder: "¿A qué hora te gusta jugar?"
        %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= submit_tag "Buscar", name: nil, class: "btn btn-primary full-width-padded" %>
      </div>
    <% end %>
  </div>
</div>
