<div class="edit-user-form-wrapper" style="background-image:
      linear-gradient(rgba(255,255,255, 0),
      rgba(0, 0, 0, 0.4)),
      url(<%= cl_image_path('Default Pics/user-info-background.jpg')%>);"
  >
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "sessions-logo"%>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="user_form_options_container">
          <h2 class="user_form_text_center">Inicio de sesión</h2>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "INICIA SESIÓN CON #{OmniAuth::Utils.camelize(provider).upcase}", omniauth_authorize_path(resource_name, provider), class:"btn btn-facebook" %><br />
          <% end -%>
          <div class="user_form_or_line">
            <hr class="line-thru">
            <strong class="user_form_text_center or_align">o</strong>
            <hr class="line-thru">
          </div>

          <p class="user_form_text_center user_form_text_bold">Con tu correo electrónico:</p>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, label: "Correo electrónico", required: false, autofocus: true %>
            <%= f.input :password, label: "Contraseña", required: false %>
            <%= f.input :remember_me,  label: "Recordarme", as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "INICIA SESIÓN" , class: "btn btn-login" %>
          </div>
          <% end %>
          <div class="login-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

