<div class="container">
  <div class="filters-container">
    <%= render 'shared/search-form-date' %>
    <div class="dropdown filter-item">
      <div id="search-hours-dropdown" type="button" data-toggle="dropdown" style="cursor: pointer">
        Horarios
      </div>
      <div class="dropdown-menu filter-dropdown-menu" aria-labelledby="search-hours-dropdown">
        <h4>Selecciona el rango de horas</h4>
        <p>Entre los cuales podrías jugar:</p>
        <%= render "shared/search-form-hours" %>
      </div>
    </div>
    <div class="dropdown filter-item">
      <div id="search-capacity-dropdown" type="button" data-toggle="dropdown" style="cursor: pointer">
        <% if params[:capacity_limit].blank? %>
            <%= "# Jugadores" %>
        <% else %>
            <%= "#{params[:capacity_limit].to_i/2} Vs. #{params[:capacity_limit].to_i/2}"%>
        <% end %>
      </div>
      <div class="dropdown-menu filter-dropdown-menu" aria-labelledby="search-capacity-dropdown">
        <h4>Selecciona el número de jugadores</h4>
        <p>Que quieren jugar:</p>
        <%= render "shared/search-form-capacity" %>
      </div>
    </div>
  </div>
</div>
  <hr>
<div class="container">
  <ul class="date-tabs-list list-inline hidden-xs hidden-sm">
    <% @date_range.each_with_index do |date, index| %>
      <li data-date = <%= date %> class="date-tab <%= "active-date" if index == 0 %>">
        <%= date_check(Date.parse(date.to_s))%>
      </li>
    <% end %>
  </ul>
  <div class="dropdown hidden-md hidden-lg">
    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
      <%= date_check(Date.parse(@schedule.keys.first.to_s)) %>
      <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @date_range.each_with_index do |date, index| %>
        <li data-date = <%= date %>
          class="mobile-tab date-tab <%= "active-date" if index == 0 %>">
          <%= date_check(Date.parse(date.to_s))%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="main-container">
    <div class="cards-container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="titulo">Canchas y horarios disponibles</h1>
        </div>
      </div>
      <div class="row" id="field-cards-row">
        <% unless @fields.empty? %>
          <% @fields.each do |field| %>
            <div class="col-xs-12 col-sm-6">
              <%= render 'shared/field-card', field: field %>
            </div>
          <% end %>
        <% else %>
          <div class="col-xs-12">
            <h4> No hemos encontrado resultados para tu busqueda. </h4>
            <h5> Intenta con otros criterios. </h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="map-container">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
  <%= render 'shared/booking_modal'  %>
</div>
