<div class="container">
   <%= render "shared/search-form" %>
  <h1>FIELDS</h1>
  <ul class="date-tabs-list list-inline hidden-xs hidden-sm">
    <% @schedule.keys.each_with_index do |date, index| %>
      <li data-date = <%= date%> class="date-tab <%= "active-date" if index == 0 %>"><%= date_check(Date.parse(date))%></li>
    <% end %>
  </ul>
  <div class="dropdown hidden-md hidden-lg">
    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
    <!-- <button  type="button" id="dropdownMenu1" data-toggle="dropdown" > -->
      <%= date_check(Date.parse(@schedule.keys.first.to_s)) %>
      <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @schedule.keys.each_with_index do |date, index| %>
        <li data-date = <%= date %> class="mobile-tab date-tab <%= "active-date" if index == 0 %>"><%= date_check(Date.parse(date))%></li>
      <% end %>
    </ul>
  </div>
    <div class="main-container">
      <div class="cards-container">
        <div class="row">
          <%= render 'shared/cards'  %>
        </div>
      </div>
      <div class="map-container">
        <div
          id="map"
          data-markers="<%= @markers.to_json %>">
        </div>
      </div>
    </div>
</div>
